# Idea files
.idea/*

# Dependency directories
node_modules

# Compiled pages
web/index.html
web/api-docs/*
!web/api-docs/.gitkeep
web/user-guide/*
!web/user-guide/.gitkeep
web/case-studies/*
!web/case-studies/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# Grunt intermediate storage
.grunt

# Optional npm cache directory
.npm

# Folder attributes (MacOs)
.DS_Store

# Sass cache
**/.sass-cache/
