# Idea files
.idea/*

# Dependency directories
node_modules

# Distribution folder
dist/*
!dist/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# Grunt intermediate storage
.grunt

# Optional npm cache directory
.npm

# Folder attributes (MacOs)
.DS_Store

# Sass cache
**/.sass-cache/

# Compiled css
/src/assets/css/*
!/src/assets/css/libs
