{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/home.css" />
{% endblock %}

{% block title %}Test docs{% endblock %}

{% block body %}
    <div class="gap-top-10"></div>

    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Case Studies</h3>
                <p>
                    Want to learn about what you can achieve by integrating with our APIs?
                    The possibilities are endless, but you can find just a few examples
                </p>
                <div>
                    <a href="/case-studies" class="btn btn-primary" role="button">More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>APIs</h3>
                <p>
                    See what APIs we have on offer, including extensive documentation. Sign in to manage your
                    subscriptions, see your current usage, get your API Key, and test against our live API.
                </p>
                <div>
                    <a href="/api-docs" class="btn btn-primary" role="button">More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>User Guide Documentation</h3>
                <p>
                    Ready to get started? This is the place that answers all your questions.
                    We'll have you up and running in no time. Let's get started!
                </p>
                <div>
                    <a href="/user-guide" class="btn btn-primary" role="button">More</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
