{% extends 'layout.twig' %}

{% block title %}User guide{% endblock %}

{% block body %}
    <div class="gap-top-10"></div>

    <div>
        {% for item in menuItems %}
            <a href="#">{{ item }}</a>
        {% endfor %}
    </div>

    <div>
        {{ markdown }}
    </div>

{% endblock %}
