{% extends 'layout.twig' %}

{% block title %}Api docs{% endblock %}

{% block css %}
    <link href='/css/libs/swagger.min.css' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block body %}
    <section>
        <div class="form-group col-md-3">
            <label for="apiKey">Your API key</label>
            <input type="text" class="form-control" id="apiKey" />
        </div>
        <div class="clearfix"></div>

        <div class="swagger-section gap-top-10">
            <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src='/js/swagger/object-assign-pollyfill.js'></script>
    <script src='/js/swagger/jquery.slideto.min.js'></script>
    <script src='/js/swagger/jquery.wiggle.min.js'></script>
    <script src='/js/swagger/jquery.ba-bbq.min.js'></script>
    <script src='/js/swagger/handlebars-4.0.5.js'></script>
    <script src='/js/swagger/lodash.min.js'></script>
    <script src='/js/swagger/backbone-min.js'></script>
    <script src='/js/swagger/swagger-ui.min.js'></script>
    <script src='/js/swagger/highlight.9.1.0.pack.js'></script>
    <script src='/js/swagger/highlight.9.1.0.pack_extended.js'></script>
    <script src='/js/swagger/jsoneditor.min.js'></script>
    <script src='/js/swagger/marked.js'></script>
    {#<script src='/js/swagger/swagger-oauth.js'></script>#}
    <script src='/js/api-docs.js'></script>
{% endblock %}
