{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="/css/home.min.css" />
{% endblock %}

{% block title %}Test docs{% endblock %}

{% block body %}
    <div class="main-pic"></div>

    <section class="home-blocks">
        <div class="flex-row flex-gutter">
            <div class="flex-item-4">
                <img src="/images/case-img.png" alt="Case Studies Image"/>
                <p>
                    Want to learn about what you can achieve by integrating with our APIs?
                    The possibilities are endless, but you can find just a few examples
                </p>
                <div>
                    <a href="/case-studies" class="btn" role="button">
                        <i class="fa fa-angle-right" aria-hidden="true"></i> More
                    </a>
                </div>
            </div>
            <div class="flex-item-4">
                <img src="/images/api-img.png" alt="Case Studies Image"/>
                <p>
                    See what APIs we have on offer, including extensive documentation. Sign in to manage your
                    subscriptions, see your current usage, get your API Key, and test against our live API.
                </p>
                <div>
                    <a href="/api-docs" class="btn" role="button">
                        <i class="fa fa-angle-right" aria-hidden="true"></i> More
                    </a>
                </div>
            </div>
            <div class="flex-item-4">
                <img src="/images/guide-img.png" alt="User Guide Image"/>
                <p>
                    Ready to get started? This is the place that answers all your questions.
                    We'll have you up and running in no time. Let's get started!
                </p>
                <div>
                    <a href="/user-guide" class="btn" role="button">
                        <i class="fa fa-angle-right" aria-hidden="true"></i> More
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
