a {
  color: #00B7FF;
}

a:hover {
  color: #000000;
}

.page-content {
  padding-bottom: 20px;
  min-height: calc(100vh - 161px);
}

.gap-top-10 {
  padding-top: 10px;
}

.gap-top-20 {
  padding-top: 20px;
}

.bottom-info {
  line-height: 50px;
  font-size: 12px;
  border-top: 1px solid #e7e7e7;
}

.navbar-border {
  border-bottom: 1px solid #e7e7e7;
}

.navbar-brand {
  height: 90px;
  padding: 20px 15px;
}
